@use '../globales' as *;

.blog{
    background-image: repeating-linear-gradient(45deg, var(--color-gris) 0, var(--color-gris) 0.5px, transparent 0, transparent 50%);
    background-size: 12px 12px;
    background-color: #fff;
    .container{
        padding-bottom: 150px;
    }
    
    &__contenedor{
        display: flex;
        justify-content: center;
        gap: 3rem;
        max-width: 1400px;
    }
    &__card{
        width: 45rem;
        height: max-content;
        background-color: #fff;
        border: 1px solid var(--color-claro);
    }
    &__img{
        width: 100%;
        height: 60%;
    }
    &__texto{
        margin: 1.5rem;
    }
    &__h3,
    &__fecha,
    &__p,
    &__leer{
        margin-bottom: 2rem;
    }
    &__h3{
        font-size: 2rem;
        color: var(--color-claro);
        &:hover{
            color: var(--color-oscuro);
        }
    }
    &__fecha{
        font-size: 1.4rem;
        font-weight: bold;
    }
    &__leer{
        text-align: right;
        font-weight: bold;
        a{
            color: var(--color-oscuro);
        }
    }
}
@media (max-width: 600px){
    .blog{
        
        &__contenedor{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}