@use '../globales' as *;

.miblog{
    &__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__p{
        margin: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    &__bga{
        display: flex;
        align-items: center;
        height: 6rem;
        padding-left:1rem ;
        background-color: var(--color-amarillo);
        font-size: 3rem;
        h3{
            color: var(--color-claro);
        }
    }
    &__bgb{
        display: flex;
        align-items: center;
        height: 10rem;
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: var(--color-claro);
        &:hover{
            background-color: var(--color-azul);
        }
        p{
            color: var(--color-amarillo);
            padding: 1rem;
        }
    }
}