@use '../globales' as *;

.myblog{
    .container{
        padding-bottom: 150px;
    }
    &__p{
        text-align: center;
        padding-bottom: 2rem;
    }
    &__contenedor{
        max-width: 1400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        gap: 10px;
    }
    &__box{
        
        padding: 1rem;
    }
}